{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Rooms List</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Property</th>
                                    <th>Type</th>
                                    <th>Rate</th>
                                    <th>Adult</th>
                                    <th>Smoking</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for room in rooms %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ room.property }}</td>
                                        <td>{{ room.type }}</td>
                                        <td>{{ room.rate }}</td>
                                        <td>{{ room.adult }}</td>
                                        <td>{% if room.smoking %}Yes{% else %}No{% endif %}</td>
                                        <td width="15%">
                                            <table>
                                                <tr>
                                                    {#<td width="80px">#}
                                                    {#<a href="{{ path('property_show', { 'id': property.id }) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> show</a>#}
                                                    {#</td>#}
                                                    <td width="80px">
                                                        <a href="{{ path('rooms_edit', { 'id': room.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> edit </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <a href="{{ path('rooms_new') }}" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i>Add New Room</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
