{% extends 'base.html.twig' %}

{% block body %}
    <h1>Room</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ room.type }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ room.rate }}</td>
            </tr>
            <tr>
                <th>Adult</th>
                <td>{{ room.adult }}</td>
            </tr>
            <tr>
                <th>Amenities</th>
                <td>{{ room.amenities }}</td>
            </tr>
            <tr>
                <th>Smoking</th>
                <td>{% if room.smoking %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rooms_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rooms_edit', { 'id': room.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
