<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='Tired of checking availability for rooms. We care!' />
    <meta name='keywords' content='hotels in sikkim, sikkim tour, sikkim travel planner, hotels in Gangtok, cheap hotels in Gangtok sikkim, good hotels in Gangtok, budget hotels in sikkim, hotel booking in sikkim, sikkim online booking, sikkim hotels and restaurants, hoTels in lachung, hotels in pelling, sikkim tour booking, sikkim tour package, sikkim hotel booking website, 3 star hotels In Sikkim, 4 star hotels in sikkim, 5 star hotels in sikkim, hotels at mg marg Gangtok, best hotel deal in gangtok, best hotel deal in sikkim.' />
    <meta name="robots" content="follow">
    <title>{% block title %}Travel Agent Portal{% endblock %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/smoothness/jquery-ui-1.10.4.custom.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/lightslider.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
</head>
<body>
<!-- Header -->
<div id='loadingmessage' style='display:none;'>
    <img src='{{ asset('images/loader.gif') }}' width="40" class="ajax-loader"/>
</div>
<header>
    <div class="navbar navbar-default" id="sticky">
        <div class="container">
            <div class="navbar-header col-lg-8">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="{{ path('homepage') }}" class="navbar-brand">
                    <!-- Logo -->
                    <div id="logo"><a href="{{ path('landing') }}"><img src="{{ asset('images/logo.png') }}"></a></div>
                </a>
                <!-- Helpline -->
                <div id="helpline" class="hidden-xs">
                    <div class="call-at">
                        <span>For any help contact @ +91 - 9609085059 / 7908421872</span>
                    </div>
                </div>
            </div>
            <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('landing') }}">Home</a></li>
                    <li><a href="{{ path('contact_us') }}">Contact</a></li>
                    {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle"></i>  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('reservation_index') }}"><i class="fa fa-address-card-o"></i> Account</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-unlock-alt"></i> Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>

<section id="frame">
    {% block frame %}
        {#<img src="{{ asset('images/banner2.jpg') }}"/>#}
    {% endblock %}
    <section id="reservation-form">
        <div class="container">
            <div class="row">
                {#<div class="col-md-6">#}
                {#<img src="{{ asset('images/banner.jpg') }}" class="img-responsive">#}
                {#</div>#}
                <div class="col-md-12">
                    {% if app.user %}
                    <h5><span style="color: #111; padding:8px 15px;">Check Room Availability</span></h5>
                    {{ render(controller('AppBundle:Default:propertyList')) }}
                    {% endif %}
                    </div>
            </div>
        </div>
    </section>
</section>


{#<section id="room-carousel">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#{% block deals %}#}
            {#{% endblock %}#}
            {#{% block carousel %}#}
            {#{% endblock %}#}
        {#</div>#}
    {#</div>#}
{#</section>#}
<section id="main-content">
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
</section>
<!-- Footer -->
<div id="myModal" class="modal fade" role="dialog" style="margin-top: 100px">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Terms and Condition</h3>
            </div>
            <div class="modal-body" style="overflow: scroll; height:500px">
                {{ render(controller('AppBundle:Default:TermsCondition')) }}
            </div>

            {#<div class="modal-footer">#}
            {#<input id="complexConfirm" type="submit" value="Yes" class="btn btn-sm btn-success">#}
            {#<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>#}
            {#</div>#}
        </div>

    </div>
</div>
<footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">&copy; 2018 All Rights Reserved </div>
                <div class="col-xs-6 text-right">
                    <a href="" data-toggle="modal" data-target="#myModal">Terms & Condition</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/site.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.sticky.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/jquery.forms.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/enscroll-0.6.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lightslider.js') }}"></script>
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
    <script>
        $('#reservationform').submit(function() { // catch the form's submit event
            $('#loadingmessage').show();
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
//                    setTimeout(function() {
                    $('#load-data').html(response); // update the DIV
                    $('#loadingmessage').hide();
//                    }, 4000);
                }
            });
            return false; // cancel original event to prevent form submitting
        });

        $("form").submit(function(e) {

            var ref = $(this).find("[required]");

            $(ref).each(function(){
                if ( $(this).val() == '' )
                {
                    alert("Required field should not be blank.");

                    $(this).focus();

                    e.preventDefault();
                    return false;
                }
            });  return true;
        });
    </script>
{% endblock %}
</body>
</html>
