{% if cart is defined %}
        {#{{ dump(cart) }}#}
<table class="table table-striped">
        <tbody>
<tr>
        <th>Room Type</th>
        {#<th>Plan</th>#}
        <th align="center">Room</th>
        <th align="center">Adult</th>
        <th align="center">Price</th>
        <th>Action</th>
</tr>
        {% set sum = 0 %}
        {% set sum1 = 0 %}
        {% set sumAdult = 0 %}
{% set sum2 = 0 %}
{% set percentage = 0 %}
{% set totalSum = 0 %}
{% for item in cart %}
        {% set sum1 = sum1 + item['quantity']%}
        {% set sumAdult = sumAdult + item['room_adult']%}
        {% set sum2 = item['bed']*(item['adult']-item['adult']) %}
        {% if postData['plan'] == 'CP' %}
                {% set plan = item['cp']*item['adult'] %}
        {% elseif postData['plan'] == 'EP' %}
                {% set plan = item['ep']*item['adult'] %}
        {% elseif postData['plan'] == 'AP' %}
                {% set plan = item['ap']*item['adult'] %}
        {% else %}
                {% set plan = item['map']*item['adult'] %}
        {% endif %}


        <tr>
                <td>{{ item['type'] }}</td>
                {#<td>{{ item['plan'] }} </td>#}
                <td align="center">{{ item['quantity'] }}</td>
                <td align="center">{{ item['room_adult'] }}</td>
                <td align="center">
                        {{ item['total'] }}
                </td>
                <td><a onClick="cartAction('remove','{{ item['id'] }}')" class="btnRemoveAction cart-action btn-xs "><i class="fa fa-times"></i> remove</a></td>
        </tr>
        {#{% if item['room_adult'] > item['adult'] %}#}
                {#{% set sum = sum + item['quantity'] * (item['rate'] + plan + sum2)%}#}
        {#{% else %}#}
                {#{% set sum = sum + item['quantity'] * (item['rate'] + plan)%}#}
        {#{% endif %}#}

        {% if app.user.category == 1 %}
                {% set gA = 20 %}
        {% elseif app.user.category == 2 %}
                {% set gA = 15 %}
        {% else %}
                {% set gA = 10 %}
        {% endif %}
        {% set totalSum = totalSum + item['total']%}
        {% set percentage = (gA/100)*totalSum %}
        {% set sum = totalSum - percentage %}
{% endfor %}
<tr style="border-bottom: 1px solid #f1f1f1">
        <td><b>Total:</b></td>
        <td align="center"><b>{{ sum1 }}</b></td>
        {#<td></td>#}
        <td align="center"><b>{{ sumAdult }}</b> </td>
        <td align="center"><b>{{ totalSum }}</b></td>
        <td></td>
</tr>
        </tbody>
</table>
        {% if (sum1 < postData['roomNo']) and (count < postData['roomNo']) %}
                {% if postData['roomNo'] <= 1%}
                        <span><i class="text-danger fa fa-info-circle"></i> Please Select {{ postData['roomNo']}} Room</span>
                        {% else %}
                                <span><i class="text-danger fa fa-info-circle"></i>  Please Select 1 room at a time</span>
                        {% endif %}
                {% elseif (sum1 > postData['roomNo']) or (count > postData['roomNo']) %}
                <span><i class="text-danger fa fa-info-circle"></i>  Please Select Only {{ postData['roomNo']}} Room</span>
        {% endif %}
<br>
        {% if postData['roomNo'] <= 1 %}

        {% else %}
                {% if  sumAdult != postData['adult'] %}
                        {#{% if postData['adult'] <= 1%}#}
                        {#<span class="alert-danger">Please Select  {{ postData['adult'] }} Adult</span>#}
                        {#{% else %}#}
                        {#<span class="alert-danger">Please Select  {{ postData['adult'] }} Adults</span>#}
                        {#{% endif %}#}
                        {#{% elseif sumAdult > postData['adult'] %}#}
                        {% if postData['adult'] <= 1%}
                                <span><i class="text-danger fa fa-info-circle"></i> Please Select Total {{ postData['adult'] }} Adult</span>
                        {% else %}
                                <span><i class="text-danger fa fa-info-circle"></i> Please Select Total {{ postData['adult'] }} Adults</span>
                        {% endif %}
                {% endif %}
        {% endif %}

                {% if (sum1 < postData['roomNo']) and (count < postData['roomNo']) or sumAdult != postData['adult'] %}
                        <div><span id="btnEmpty" class="isDisabled cart-action btn btn-sm btn-default" href="#">Confirm</span></div>
                {% elseif (sum1 > postData['roomNo']) or (count > postData['roomNo']) %}
                        <div><span id="btnEmpty" class="isDisabled cart-action btn btn-sm btn-default" href="#">Confirm</span></div>
                        {% else %}
                        <div>
                                <a  class="cart-action btn btn-sm btn-success" href="{{ path('booking') }}">Confirm</a>
                        </div>
                {% endif %}

        <style>
                .isDisabled {
                        color: currentColor;
                        cursor: not-allowed;
                        opacity: 0.5;
                        text-decoration: none;
                }
        </style>
        {#<script>#}
                {#$('#booking').submit(function() { // catch the form's submit event#}
                        {#$('#loadingmessage').show();#}
                        {#$.ajax({ // create an AJAX call...#}
                                {#data: $(this).serialize(), // get the form data#}
                                {#type: $(this).attr('method'), // GET or POST#}
                                {#url: $(this).attr('action'), // the file to call#}
                                {#success: function(response) { // on success..#}
                                        {#$('#load-data').html(response); // update the DIV#}
                                        {#$('#loadingmessage').hide();#}
                                {#}#}
                        {#});#}
                        {#return false; // cancel original event to prevent form submitting#}
                {#});#}
        {#</script>#}
{% endif %}