{% block body %}
    <section id="load-data">
        <div class="container">
            <div class="row">
                <div id="featured" class="col-lg-12">
                    {% if detail is defined %}
                    {% for var in detail%}
                        <div class="col-lg-4">
                            <div class="img-box">
                                <a href="http://{{ var.url}}" target="_blank"><img src="{{ asset('images/uploads/'~ var.image) }}" alt="" width="100%" height="230px"></a>
                                {#<span class="price"><i class="fa fa-rupee"></i> 3500</span>#}
                                {#<div class="ribbon"><span>On Sale</span></div>#}
                            </div>
                            <div class="box">
                                <h3>{{ var.title }}</h3>
                                <p>{{ (var.desc|length > 100 ? var.desc|slice(0, 120) ~ '&hellip;' : var.desc)|raw  }}</p>
                                {#<span class="book"><a href="#">Book</a> </span>#}
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}

