{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                <i class="fa fa-check-circle"></i> {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
{{ render(controller('AppBundle:Default:FeaturedProoperty')) }}
{% endblock %}

