{% extends 'base.html.twig' %}
{% block body %}
<section id="load-data">
    <div class="row">
        <div class="col-lg-9">
            {#<div class="col-sm-3"> <img src="{{ asset('images/uploads/'~val.img) }}" width="100%" height="100%"></div>#}
            <div class="col-lg-6" >
                <div id="billing">
                    {% set sum = 0 %}
                    {% set percentage = 0 %}
                    {% set totalSum = 0 %}
                    <h2>Booking Review</h2>
                    {% if res is empty %}

                        {% if app.session.flashBag.has('success') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('success') %}
                                    <i class="fa fa-check-circle"></i> {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% else %}

                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><i class="fa fa-calendar"></i>  Check In :</td>
                                    <td class="text-right"> {{ postData['checkin'] }}</td>
                                </tr>
                                <tr class="no-border">
                                    <td><i class="fa fa-calendar"></i> Check Out :</td>
                                    <td class="text-right">  {{ postData['checkout'] }}</td>
                                </tr>

                                {% set sum1 = 0 %}
                                {% set sum2 = 0 %}
                                {% for val in res %}
                                    {#{{ dump(app.user.category) }}#}
                                    {#{{ dump(val) }}#}
                                    {% set sum1 = sum1 + val.quantity%}
                                    {% set sum2 = val.bed*(postData['adult']-val.adult) %}
                                    {% if postData['plan'] == 'CP' %}
                                        {% set plan = val.cp*postData['adult'] %}
                                    {% elseif postData['plan'] == 'EP' %}
                                        {% set plan = val.ep*postData['adult'] %}
                                    {% elseif postData['plan'] == 'AP' %}
                                        {% set plan = val.ap*postData['adult'] %}
                                    {% else %}
                                        {% set plan = val.map*postData['adult'] %}
                                    {% endif %}

                                    <tr>
                                        <td>Room :</td>
                                        <td class="text-right">{{ val.name }}  - {{ val.adult }} Person</td>
                                    </tr>
                                    <tr class="no-border">
                                        <td>{{ val.plan }} :  </td>
                                        <td class="text-right"><i class="fa fa-rupee"></i>
                                            {#{% if postData['adult'] > val.adult %}#}
                                                {#{{ val.quantity * (val.price + plan + sum2) }}#}
                                            {#{% else %}#}
                                                {#{{ val.quantity * (val.price + plan) }}#}
                                            {#{% endif %}#}
                                            {{ val.total }}
                                        </td>
                                    </tr>
                                    <tr class="no-border">
                                        <td>Guests :</td>
                                        <td class="text-right">
                                            {{ val.room_adult }}
                                        </td>
                                    </tr>
                                    {#{% if postData['adult'] > val.adult %}#}
                                        {#{% set sum = sum + val.quantity * (val.price + plan + sum2)%}#}
                                    {#{% else %}#}
                                        {#{% set sum = sum + val.quantity * (val.price + plan)%}#}
                                    {#{% endif %}#}

                                    {% if app.user.category == 1 %}
                                        {% set gA = 20 %}
                                        {% elseif app.user.category == 2 %}
                                            {% set gA = 15 %}
                                        {% elseif app.user.category == 3 %}
                                        {% set gA = 10 %}
                                        {% else %}
                                        {% set gA = 0 %}
                                    {% endif %}
                                    {% set totalSum = totalSum + val.total%}
                                    {% set percentage = (gA/100)*totalSum %}
                                    {% set sum = totalSum - percentage %}
                                {% endfor %}
                                {#<tr class="no-border">#}
                                    {#<td>Guests :</td>#}
                                    {#<td class="text-right">#}
                                        {#{% if postData['adult'] <= 1 %}#}
                                            {#{{ postData['adult'] }} Adult#}
                                        {#{% else %}#}
                                            {#{{ postData['adult'] }} Adults#}
                                        {#{% endif %}#}
                                    {#</td>#}
                                {#</tr>#}

                                </tbody>
                            </table>
                        <table class="table">
                            <tbody>
                            <tr class="text-right">
                                <td width="70%" style="background-color:#f5f5f5">Sub Total : </td>
                                <td style="background-color:#f5f5f5" class="text-right"><i class="fa fa-rupee"></i> {{ totalSum }}</td>
                            </tr>
                            <tr class="text-right">
                                <td style="background-color:#f5f5f5">Discount <span class="btn-warning btn-xs" >

                                            {% if app.user.category == 1 %}
                                                20%
                                            {% elseif app.user.category == 2 %}
                                                15%
                                            {% elseif app.user.category == 3 %}
                                                10%
                                            {% else %}
                                                0
                                            {% endif %}
                                        </span>  </td>
                                <td style="background-color:#f5f5f5" class="text-right"><i class="fa fa-rupee"></i> {{ percentage }}</td>
                            </tr>
                            <tr class="text-right">
                                <td><h4>Total : </h4> </td>
                                <td class="text-right"><h4><i class="fa fa-rupee"></i> {{ sum }}</h4></td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>


                {#<p><i class="fa fa-calendar"></i> Check In Date: {{ post.checkin }}</p>#}
                {#<p><i class="fa fa-calendar"></i> Check Out Date: {{ post.checkout }}</p>#}

            </div>
            <div class="col-lg-6">
                <h2>Guest Information</h2>
                <hr>
                {#{{ render(controller('AppBundle:Default:cartProduct')) }}#}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            {{ form_widget(form.firstname, {'attr':{'class': 'form-control'},'value':''}) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            {{ form_widget(form.lastname, {'attr':{'class': 'form-control'},'value':''}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Phone Number</label>
                            {{ form_widget(form.phone, {'attr':{'class': 'form-control'},'value':''}) }}
                            <span class="text-danger">{{ form_errors(form.phone) }}</span>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address</label>
                            {{ form_widget(form.address, {'attr':{'class': 'form-control'},'value':''}) }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{ form_label(form.message) }}</label>
                            {{ form_widget(form.message, {'attr':{'class': 'form-control'},'value':''}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_widget(form.terms, {'attr':{'class': ''}}) }}
                            <label><a href="#" target="_blank" data-toggle="modal" data-target="#myModal">Terms & Condition</a> </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_widget(form.amount,{'attr':{'hidden': 'hidden'},'value':''}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_widget(form.amountA,{'attr':{'hidden': 'hidden'},'value': totalSum}) }}
                        </div>
                    </div>
                </div>
                <div id="formsubmitbutton">
                <input type="submit" value="Book Now" id="Button" class="btn btn-success" onclick="ButtonClicked()">
                    </div>
                <div id='loadingmessage' style='display:none;'>
                    <img src='{{ asset('images/loader.gif') }}' width="40" class="ajax-loader"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="advert">
                <img src="{{ asset('images/infograph.png') }}" class="img-responsive">
            </div>
        </div>
    </div>
</section>
{% if res is empty %}
    <script>
        document.getElementById("Button").disabled = true;
    </script>
{% endif %}
<script>
    $('#Button').click(function() {
        var total = {{ sum }}; // Modify me
        $('#form_amount').val(total);
    });
</script>
    {#<script type="text/javascript">#}
        {#$('input[name="form[terms]"]').click( function () {#}
            {#var check = $(this).prop('checked');#}
            {#if(check == true) {#}
                {#alert("checkbox checked");#}
            {#}#}
        {#});#}
        {#function ButtonClicked() {#}
            {#document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay#}
            {#document.getElementById("loadingmessage").style.display = ""; // to display#}
            {#return true;#}
        {#}#}

        {#var FirstLoading = true;#}

        {#function RestoreSubmitButton() {#}
            {#if (FirstLoading) {#}
                {#FirstLoading = false;#}
                {#return;#}
            {#}#}
            {#document.getElementById("formsubmitbutton").style.display = ""; // to display#}
            {#document.getElementById("loadingmessage").style.display = "none"; // to undisplay#}
        {#}#}

        {#// To disable restoring submit button, disable or delete next line.#}
        {#document.onfocus = RestoreSubmitButton;#}
    {#</script>#}
{% endblock %}

