<form class="form-inline reservation-horizontal clearfix" role="form" method="post" action="{{ path('search') }}"
      name="reservationform" id="reservationform">
    <!-- Error message -->

    {#<h3>Check Room Availability</h3>#}
    <div id="message"></div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="email" accesskey="E">Property</label>
                <select required class="form-control" name="destination" id="destination">
                    {#<option value="" selected="selected" disabled="disabled"> Select Property</option>#}
                    {% if res is defined %}
                        {% for val in res %}
                            <option value="{{ val.name }}">{{ val.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="checkin">Check-in</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Check-In is from 11:00"><i class="fa fa-info-circle fa-lg"> </i>#}
                {#</div>#}

                <i class="fa fa-calendar infield"></i>
                <input required name="checkin" type="text" id="checkin" value="{% if postData is not empty %}{{ postData['checkin'] }}{% endif %}" class="form-control"
                       placeholder="Check-in"/>

            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="checkout">Check-out</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Check-out is from 12:00"><i class="fa fa-info-circle fa-lg"> </i>#}
                {#</div>#}
                <i class="fa fa-calendar infield"></i>
                <input required name="checkout" type="text" id="checkout" value="{% if postData is not empty %}{{ postData['checkout'] }}{% endif %}" class="form-control"
                       placeholder="Check-out"/>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="room">No. of Rooms</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i#}
                {#class="fa fa-info-circle fa-lg"> </i></div>#}
                <select required class="form-control" name="roomNo" id="room">
                    <option  disabled="disabled">Select Adult</option>
                    <option selected="selected" value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label for="room">Adult</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i#}
                {#class="fa fa-info-circle fa-lg"> </i></div>#}
                <select required class="form-control" name="adult" id="adult">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label for="room">Meal Plan</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i#}
                {#class="fa fa-info-circle fa-lg"> </i></div>#}
                <select required class="form-control" name="plan" id="roomPlan">
                    <option  disabled="disabled" value="">Select Meal Plan</option>
                    <option selected="selected" value="CP">CP</option>
                    <option value="EP">EP</option>
                    <option value="AP">AP</option>
                    <option value="MAP">MAP</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>

    {% if postData is not empty %}
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script>
        $(document).ready(function(){
            var num = {{ postData['roomNo'] }};
            $('#room').val(num).attr('selected', true);

            var num1 = {{ postData['adult'] }};
            $('#adult').val(num1).attr('selected', true);

            var num2 = '{{ postData['plan'] }}';
            $('#roomPlan').val(num2).attr('selected', true);

        });
    </script>
    {% endif %}
</form>
