{% block body %}
    <section id="featured">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="property-intro">
                        {% for val in res %}

                            <div class="item">
                            <div class="clearfix" style="max-width:100%;">
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                {% for var in val.images %}
                                    {% for val in var %}
                                        <li data-width="700" data-height="200" data-thumb="{{ asset('images/uploads/property/'~val) }}">
                                            <img src="{{ asset('images/uploads/property/'~val) }}" width="100% " height="300px">
                                        </li>
                                    {% endfor %}
                                {% endfor %}

                            </ul>
                            </div>
                            </div>

                            <div class="p_content">
                                <h2>{{ val.name }}</h2>
                                <p>{{ val.desc|raw }}</p>
                            </div>


                        {% endfor %}

                    </div>
                    <div class="clearfix"></div>

                    <form id="frmCart">
                        {% if response is defined and response is not empty %}
                            {#<br><p class="alert-warning">Available Rooms </p>#}
                            {% for var in response %}
                                <div class="box_{{ var.id }}">
                                    <div class="listing">
                                        <div class="col-sm-3"><img src="{{ asset('images/uploads/'~var.imageurl) }}"
                                                                   width="100%" class="img-thumbnail">
                                        </div>
                                        <div class="col-sm-9 detail">
                                            {#{{ var.reserved_bed_nrs }}#}
                                            <h3>{{ var.type }} - {{ var.adult }} Person</h3>
                                            {% set roomPlan = session['plan'] %}
                                            <p>Plan: {{ roomPlan }} </p>
                                            <p>Max person: {{ var.max_person }} </p>
                                            <p>Smokng Permitted: {% if var.smoking == true %}Yes {% else %}
                                                    <strong>No</strong> {% endif %}</p>
                                                <p class="price">
                                                    <span>From</span>
                                                    <i class="fa fa-rupee "></i>
                                                    {% set postAdult = session.adult %}
                                                    {% set postRoom = session.roomNo %}
                                                    {% if roomPlan == 'CP' %}
                                                        {% set plan =  var.cp_cost*postAdult %}
                                                        {% set plan1 =  var.cp_cost %}
                                                    {% elseif roomPlan == 'EP' %}
                                                        {% set plan =  var.ep_cost*postAdult %}
                                                        {% set plan1 =  var.ep_cost %}
                                                    {% elseif roomPlan == 'AP' %}
                                                        {% set plan =  var.ap_cost*postAdult %}
                                                        {% set plan1 =  var.ap_cost %}
                                                    {% else %}
                                                        {% set plan =  var.map_cost*postAdult %}
                                                        {% set plan1 =  var.map_cost %}
                                                    {% endif %}
                                                    {% if postRoom  > 1 %}

                                                        <strong id="added_{{ var.id }}">
                                                            {#{{ var.rate + plan + dp }}#}
                                                            {{ var.rate }}
                                                        </strong>

                                                        {% else %}

                                                    {% if postAdult  > var.adult%}
                                                        {% set ap =  postAdult-var.adult %}
                                                        {% set dp =  ap*var.extra_bed%}
                                                        <strong id="added_{{ var.id }}"> {{ var.rate + plan + dp}}</strong>
                                                        {% else %}
                                                            <strong id="added_{{ var.id }}"> {{ var.rate + plan }}</strong>
                                                        {% endif %}
                                                    {% endif %}
                                                    <span>
                                                        <b class="text-muted" id="extra_{{ var.id }}" style="display: none">(Extra person included)</b>
                                                        <b class="text-muted">
                                                             {% if postRoom  <= 1 %}
                                                            {% if postAdult > var.adult %}(Extra person included){% endif %}
                                                            {% endif %}
                                                        </b> avg/night
                                                    </span>
                                                    <span style="color: #F30D0D">
                                                        {% if var.free_rooms <= 1 %}
Only 1 room left
                                                            {% else %}
                                                               <b class="rcount{{ var.id }}">{{ var.free_rooms }}</b> rooms left
                                                        {% endif %}
                                                    </span>
                                             </p>
                                            {% if postRoom  > 1 %}
                                            <select id="first_{{ var.id }}" name="room_adult">
                                                <option value="0">0</option>
                                            </select>
                                               <span class="no_person{{ var.id }}"><i class="text-danger fa fa-info-circle"></i> Select no. of Adult</span>
                                            {% endif %}
                                           <input type="text" hidden="hidden" id="qty_{{ var.id }}" name="quantity" value="1" size="2" />
                                            {% if postRoom  > 1 %}
                                            <input disabled type="button" id="add_{{ var.id }}" value="Select" class="btnAddAction cart-action btn btn-sm btn-success" onClick="cartAction('add','{{ var.id }}')" style="float: right"/>
                                            {% else %}
                                                <input type="button" id="add_{{ var.id }}" value="Select" class="btnAddAction cart-action btn btn-sm btn-success" onClick="cartAction('add','{{ var.id }}')" style="float: right"/>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#tab1_{{ var.id }}"><i class="fa fa-file-text"></i> Room Detils</a></li>
                                                <li><a data-toggle="tab" href="#tab2_{{ var.id }}"><i class="fa fa-picture-o"></i> Photos</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <div class="tab-content" style="padding:20px 0;">
                                                <div id="tab1_{{ var.id }}" class="tab-pane fade in active">
                                                    {{ var.description|raw }}
                                                </div>
                                                <div id="tab2_{{ var.id }}" class="tab-pane fade">
                                                    <div class="container">
                                                        <div class="row">
                                                        {% for val in images %}
                                                            {% if val['id'] == var.id %}
                                                                {% for var in val.images %}
                                                                    <img src="{{ asset('images/uploads/rooms/'~var) }}" style="width:140px; height:100px; float: left; margin-right: 10px; border:1px solid #dbdbdb; padding: 5px;">
                                                                {% endfor %}

                                                            {% endif %}
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            {% endfor %}
                        {% else %}
                            <br>
                            <div class="alert alert-warning text-center">
                                <h3 class="text-danger">SOLD OUT</h3>
                                <p>Please change the search criteria if flexible or call/email us for assistance.<br>
                                    Please email us at contact@ourguest.in incase of non-availability of rooms.<br>
                                    Call us at +91 74777 22446.</p>
                            </div>
                        {% endif %}
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="cart">
                        <style>
                            #loadingmessage1 {
                                position: absolute;
                                /*background-color: rgba(0, 0, 0, 0.3);*/
                                /*dim the background*/
                                top:0;
                                left:0;
                                width:100%;
                                height:100%;
                                color:black;
                                text-align: center;
                            }
                        </style>
                        <div id='loadingmessage1' style='display:none;text-align: center;margin-top: -10px'>
                            <img src='{{ asset('images/loader-dot.gif') }}' width="50" />
                        </div>
                        <div id="cart-wrap" class="cart-show cart-hide">
                            <div id="shopping-cart">
                                {#<a id="btnEmpty" class="cart-action" onClick="cartAction('empty','');">Empty Cart</a>#}
                                <div class="txt-heading">
                                    <i class="switch fa fa-shopping-cart"></i> Booking
                                </div>


                                <div id="cart-item" style="width: 100%">

                                </div>
                            </div>
                        </div>
                        {#<img src="{{ asset('images/infograph.png') }}" class="img-responsive">#}
                    </div>
                </div>
            </div>
        </div>
    </section>
 {% if response is defined and response is not empty %}
                            {#<br><p class="alert-warning">Available Rooms </p>#}
                            {% for var in response %}
                                {% set roomPlan = session['plan'] %}
                                {% set postAdult = session.adult %}
                                {% set postRoom = session.roomNo %}
                                {% if roomPlan == 'CP' %}
                                    {% set plan =  var.cp_cost*postAdult %}
                                    {% set plan1 =  var.cp_cost %}
                                {% elseif roomPlan == 'EP' %}
                                    {% set plan =  var.ep_cost*postAdult %}
                                    {% set plan1 =  var.ep_cost %}
                                {% elseif roomPlan == 'AP' %}
                                    {% set plan =  var.ap_cost*postAdult %}
                                    {% set plan1 =  var.ap_cost %}
                                {% else %}
                                    {% set plan =  var.map_cost*postAdult %}
                                    {% set plan1 =  var.map_cost %}
                                {% endif %}
                                <script>
                                    var max = {{ var.max_person }}
                                    for (i = 1; i <= max; i++)
                                    {
                                        $('#first_{{ var.id }}').append( '<option value="'+i+'">'+i+'</option>' );
                                    }
                                    var postRoom = {{ postRoom }}
                                    if(postRoom > 1)
                                    {
                                    $('#first_{{ var.id }}').change(function(){

                                        if($(this).val() > {{ var.adult }}){ // or this.value == 'volvo'
                                            $('#extra_{{ var.id }}').show();
                                        }else {
                                            $('#extra_{{ var.id }}').hide();
                                        }

                                    if($('#first_{{ var.id }}').val() !=0){
                                        $("#add_{{ var.id }}").prop("disabled", false);
                                        $(".no_person{{ var.id }} > i").removeClass('text-danger fa-info-circle');
                                        $(".no_person{{ var.id }} > i").addClass('text-success fa-check-circle');
                                    } else {
                                        $("#add_{{ var.id }}").prop("disabled", true);
                                        $(".no_person{{ var.id }} > i").addClass('text-danger fa-info-circle');
                                    }
                                    });

                                    $("#add_{{ var.id }}").on("click", function () {
                                        $("#first_{{ var.id }}").prop("selectedIndex", 0);
                                        $("#add_{{ var.id }}").prop("disabled", true);
                                        $(".no_person{{ var.id }} > i").addClass('text-danger fa-info-circle');
                                    });
                                    }

                                    $('#first_{{ var.id }}').change(function(){ // run anytime the value changes

                                        var plan1 = {{ plan1 }};
                                        var rate = {{ var.rate }};
                                        var ex = {{ var.extra_bed }};

                                        var firstValue = parseFloat($('#first_{{ var.id }}').val()) || 0; // get value of field
                                        if(firstValue > {{ var.adult }}){
                                            var adultPlan = firstValue * plan1;
                                            var ap = firstValue - {{ var.adult }}
                                            var adultExtra = ap * ex;
                                            $('#added_{{ var.id }}').html(rate + adultPlan + adultExtra); // add them and output it
                                        }
                                        else {
                                            var adultPlan1 = firstValue * plan1;
                                            $('#added_{{ var.id }}').html(rate + adultPlan1); // add them and output it
                                        }


                                    });

                                    $(function(){
                                        var free_room = {{ var.free_rooms }};
                                        if(free_room <= 1){
                                        $("#add_{{ var.id }}").on('click',function() {
                                            $('.box_{{ var.id }}').fadeOut(800);
                                        });
                                        }
                                        $('#add_{{ var.id }}').click(function() {
                                            $('.rcount{{ var.id }}').html(function(i, val) { return val*1-1 });

                                            var number = parseInt($('.rcount{{ var.id }}').text());
                                            if(number <= 0){
                                                $('.box_{{ var.id }}').fadeOut(800);
                                            }
                                        });
                                    });

                                </script>
 {% endfor %}
 {% endif %}
    <script>
        function cartAction(action, product_code) {
            $('#loadingmessage1').show();
            var queryString = "";
            if (action != "") {
                switch (action) {
                    case "add":
                        queryString = 'action=' + action + '&code=' + product_code + '&quantity=' + $("#qty_" + product_code).val() + '&room_adult=' + $("#first_" + product_code).val() + '&total=' + parseInt($("#added_" + product_code).text());
                        break;
                    case "remove":
                        queryString = 'action=' + action + '&code=' + product_code;
                    {% for var in response %}
                            if( product_code == {{ var.id }}){
                                $('.box_{{ var.id }}').fadeIn(800);
                                $('.rcount{{ var.id }}').text({{ var.free_rooms }});

                            }
                    {% endfor %}
                        break;
                    case "empty":
                        queryString = 'action=' + action;
                        break;
                }
            }
            jQuery.ajax({
                url: "{{ path('add_cart') }}",
                data: queryString,
                type: "POST",
                success: function (data) {
                    $("#cart-item").html(data);
                    $('#loadingmessage1').hide();
//                    if (action != "") {
//                        switch (action) {
//                            case "add":
//                                $("#add_" + product_code).prop('disabled', true);
//                                $("#added_" + product_code).show();
//                                break;
//                            case "remove":
//                                $("#add_" + product_code).prop('disabled', false);
//                                $("#added_" + product_code).hide();
//                                break;
//                            case "empty":
//                                $(".btnAddAction").show();
//                                $(".btnAdded").hide();
//                                break;
//                        }
//                    }
                },
                error: function () {
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            cartAction('', '');
        })
    </script>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#content-slider").lightSlider({
                loop:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin: 0,
                speed:500,
                auto:false,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>
{% endblock %}

