{% extends 'base.html.twig' %}
{% block body %}
    <section id="load-data">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <a href="{{ path('landing') }}">Go Back</a>
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                <i class="fa fa-check-circle"></i> {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-3">
                    <div style="border: 1px solid #f1f1f1; padding: 10px; background: #f5f5f5">
                        <img src="{{ asset('images/infograph.png') }}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

