<!DOCTYPE html>
<html>
<head>

    <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

    <div>
        <strong id="docs-internal-guid-6f0c423f-409f-c179-c463-6506085d881d">

            <ol> <h2 dir="ltr">Website usage terms and conditions</h2>
                <li dir="ltr">
                    <h3 dir="ltr">Introduction</h3>
                </li>
            </ol>
            <ol>
                <p dir="ltr">These Website Standard Terms And Conditions (these &ldquo;Terms&rdquo; or these &ldquo;Website Standard Terms And Conditions&rdquo;) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this &ldquo;Website&rdquo;). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.</p>
                <p dir="ltr">Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Topview Infolabs Pvt. Ltd.&rsquo;s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
                <p dir="ltr">The term &lsquo;Topview Infolabs Pvt. Ltd.&rsquo; or &lsquo;us&rsquo; or &lsquo;we&rsquo; refers to the owner of the website whose registered office is Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Gangtok, Sikkim 737101. Our company registration number is [company registration number and place of registration]. The term &lsquo;you&rsquo; refers to the user or viewer of our website.</p>
                <p dir="ltr">The use of this website is subject to the following terms of use:</p>
            </ol>
            <ol start="2">
                <li dir="ltr">
                    <h3 dir="ltr">Privacy Policy</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">By using the website and/or registering yourself at Topview Infolabs Pvt. Ltd. you authorize us, our affiliates &amp; our associate partners to contact you via email or phone call or sms and offer you their services for the product you have opted for, imparting product knowledge, offer promotional offers running on website &amp; offers offered by the associated third parties, for which reasons, as well as web aggregation, personally identifiable information may be collected as detailed below. And Irrespective of the fact if also you have registered yourself under DND or DNC or NCPR service, you still authorize us to give you a call from Topview Infolabs Pvt. Ltd. &amp; associate partners for the above-mentioned purposes till 45 days of your registration with us. </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">This Privacy Policy covers Topview Infolabs Pvt. Ltd.' treatment of personally identifiable information that Topview Infolabs Pvt. Ltd. collects when you are on the Topview Infolabs Pvt. Ltd. site, and when you use Topview Infolabs Pvt. Ltd.' services. </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">This policy also covers Topview Infolabs Pvt. Ltd.' treatment of any personally identifiable information that Topview Infolabs Pvt. Ltd.' business partners share with Topview Infolabs Pvt. Ltd.. This policy does not apply to the practices of companies that Topview Infolabs Pvt. Ltd. does not own or control or to people that Topview Infolabs Pvt. Ltd. does not employ or manage. </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">Topview Infolabs Pvt. Ltd. collects personally identifiable information when you register for a Topview Infolabs Pvt. Ltd. account, when you use certain Topview Infolabs Pvt. Ltd. products or services, when you visit Topview Infolabs Pvt. Ltd. pages, and when you enter promotions. </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">Topview Infolabs Pvt. Ltd. may also receive personally identifiable information from our business partners. When you register with Topview Infolabs Pvt. Ltd., we ask for your first name, last name, state, city, email, birth date, and gender. Once you register with Topview Infolabs Pvt. Ltd. and sign in to our services, you are not anonymous to us. Also during registration, you may be requested to register your mobile phone and email id, pager, or other device to receive text messages, notifications, and other services to your wireless device. By registration you authorize us to send sms/email alerts to you for your login details and any other service requirements or some advertising messages/emails from us</p>
                </li>
            </ul>
            <ol start="3">
                <li dir="ltr">
                    <h3 dir="ltr">Intellectual property Rights and Usage Details</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>
                </li>
            </ul>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>
                </li>
            </ul>
            <ol start="4">
                <li dir="ltr">
                    <h3 dir="ltr">No Warranties</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">This Website is provided &ldquo;as is,&rdquo; with all faults, and Topview Info Labs Private Limited makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">In no event shall Topview Info Labs Private Limited , nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and Topview Info Labs Private Limited , including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>
                </li>
            </ul>
            <ol start="5">
                <li dir="ltr">
                    <h3 dir="ltr">Indemnification</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">You hereby indemnify to the fullest extent Topview Info Labs Private Limited  from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney&rsquo;s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.</p>
                </li>
            </ul>
            <ol start="6">
                <li dir="ltr">
                    <h3 dir="ltr">Variation of Terms.</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">Topview Info Labs Private Limited  is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.</p>
                </li>
            </ul>
            <ol start="7">
                <li dir="ltr">
                    <h3 dir="ltr">Restrictions.</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">You are expressly and emphatically restricted from all of the following:</p>
                </li>
                <ul>
                    <li dir="ltr">
                        <p dir="ltr">publishing any Website material in any media;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">selling, sublicensing and/or otherwise commercializing any Website material;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">publicly performing and/or showing any Website material;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">using this Website in any way that is, or may be, damaging to this Website;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">using this Website in any way that impacts user access to this Website;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr">using this Website to engage in any advertising or marketing;</p>
                    </li>
                </ul>
            </ul>
            <p dir="ltr">&nbsp;</p>
            <ol>
                <p dir="ltr">Certain areas of this Website are restricted from access by you and Topview Info Labs Private Limited may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.</p>
            </ol>
            <p dir="ltr">&nbsp;</p>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between Topview Info Labs Private Limited and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.</p>
                </li>
            </ul>
            <ol start="8">
                <li dir="ltr">
                    <h3 dir="ltr">Governing laws &amp; Jurisdiction</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">These Terms will be governed by and construed in accordance with the laws of the State of West Bengal.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">Your use of this website and any resolution of any dispute arising out of such use of the website is subject to the laws of West Bengal, India.</p>
                </li>
            </ul>
            <ol start="9">
                <li dir="ltr">
                    <h3 dir="ltr">Cancelation Policy</h3>
                </li>
            </ol>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">All requests for cancellation has to be sent in writing through email to : contact@ourguest.in.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">If the guest/s cancel their reservation before 7 Days of Check-In, they will receive 90% of the amount paid, refunded back.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">If the guest/s cancel their reservation between 7 to 2 Days of Check-In, they will receive 50% of the amount paid, refunded back.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">If the guest/s cancel their reservation within 1 Days of Check-In, there will be no refund.</p>
                </li>
            </ul>
        </strong>
    </div>

</body>
</html>