
<li style="list-style: none; margin:20px 5px; border-radius:5px; border: 1px solid #dbdbdb; width: 15%; padding:10px;float: left; display: inline-block">

    <div class="col-lg-1"><strong> __val__</strong></div>
    <div class="col-lg-7">
        {{ form_errors(val.file) }}
        {{ form_widget(val.file) }}
    </div>
    <a href="#" class="remove_block" style="color:#111; float: right"><i class="glyphicon glyphicon-remove"></i></a>


</li>