{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dashboard/css/theme-default.css') }}">
{% endblock %}
{% block fos_user_content %}
<div style="margin: 0 auto; width:100%; text-align: center; padding:20px 0; background: #FFF;">
    <h3 class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>

    Please take a moment to complete this questionnaire.
    {% if targetUrl %}
    <p class="alert alert-success"><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>

    {% endif %}
</div>
    {{ render(controller('AppBundle:UserDetails:new')) }}
{% endblock fos_user_content %}
