{% extends "FOSUserBundle::layout.html.twig"  %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dashboard/css/theme-default.css') }}">
{% endblock %}
{% block body %}

    <div style="margin: 0 auto; width:420px; padding: 20px 0; background: #FFF; margin-top: 20px;">

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock body%}
