{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
{{form_start(form, {'method': 'POST', 'attr':{'class': 'register'}})}}
            <div class="control-group">
                {{ form_label(form.firstName) }}
                <div class="controls">
                    {{ form_widget(form.firstName, {'attr':{'class': 'form-control input-lg'}}) }}
                    <p class="help-block">Please provide your first name</p>
                </div>
                <span class="text-danger">{{ form_errors(form.firstName) }}</span>
            </div>
            <div class="control-group">
                {{ form_label(form.lastName) }}
                <div class="controls">
                    {{ form_widget(form.lastName, {'attr':{'class': 'form-control input-lg'}}) }}
                    <p class="help-block">Please provide your last name</p>
                </div>
                <span class="text-danger">{{ form_errors(form.lastName) }}</span>
            </div>
            <div class="control-group">
                {{ form_label(form.phone) }}
                <div class="controls">
                    {{ form_widget(form.phone, {'attr':{'class': 'form-control input-lg'}}) }}
                    <p class="help-block">Please provide your phone no.</p>
                </div>
                <span class="text-danger">{{ form_errors(form.phone) }}</span>
            </div>
    <div class="control-group">
        {{ form_label(form.username ) }}
        <div class="controls">
            {{ form_widget(form.username, {'attr':{'class': 'form-control input-lg'}}) }}
            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
        </div>
        <span class="text-danger">{{ form_errors(form.username) }}</span>
    </div>

<div class="control-group">
    {{ form_label(form.email) }}
    <div class="controls">
        {{ form_widget(form.email, {'attr':{'class': 'form-control input-lg'}}) }}
        <p class="help-block">Please provide your E-mail</p>
    </div>
    <span class="text-danger">{{ form_errors(form.email) }}</span>
</div>
<div class="control-group">
        {{ form_label(form.plainPassword.first) }}
    <div class="controls">
        {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control input-lg'}}) }}
        <p class="help-block">Password should be at least 6 characters</p>
    </div>
    <span class="text-danger">{{ form_errors(form.plainPassword.first) }}</span>
</div>
<div class="control-group">
        {{ form_label(form.plainPassword.second) }}
    <div class="controls">
        {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control input-lg'}}) }}
        <p class="help-block">Please confirm password</p>
    </div>
    <span class="text-danger">{{ form_errors(form.plainPassword.second) }}</span>
</div>
<br>
<div class="control-group">
    <div class="controls">
    <button class="btn btn-success">
        {{ 'registration.submit'|trans }}
    </button>
        </div>
</div>
{{ form_end(form) }}
        </div>
    </div>
</div>