{% extends '::admin.html.twig' %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> User List </h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if edit_form.vars.data.userDetails is not null %}
                    <a href="{{ path('user_edit', { 'id': edit_form.vars.data.id  }) }}" class="btn btn-sm btn-primary">User</a>
                    <a href="{{ path('userdetails_edit', { 'id': edit_form.vars.data.userDetails.id  }) }}" class="btn btn-sm btn-default">Other Details</a>
                    {% else %}
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>

                        {{ form_start(edit_form) }}
                        <div class="control-group">
                            {{ form_label(edit_form.firstName) }}
                            <div class="controls">
                                {{ form_widget(edit_form.firstName, {'attr':{'class': 'form-control input-lg'}}) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.firstName) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.lastName) }}
                            <div class="controls">
                                {{ form_widget(edit_form.lastName, {'attr':{'class': 'form-control input-lg'}}) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.lastName) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.email) }}
                            <div class="controls">
                                {{ form_widget(edit_form.email, {'attr':{'class': 'form-control input-lg'}}) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.email) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.phone) }}
                            <div class="controls">
                                {{ form_widget(edit_form.phone, {'attr':{'class': 'form-control input-lg'}}) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.phone) }}
                        </div>
    {% if edit_form.category is defined %}
                        <div class="control-group">
                            {{ form_label(edit_form.category) }}
                            <div class="controls">
                                {{ form_widget(edit_form.category, {'attr':{'class': 'form-control'}}) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.category) }}
                        </div>

                        <div class="control-group">
                            <label>Status</label>
                            <div class="controls">
                                {{ form_widget(edit_form.enabled) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.enabled) }}
                        </div>
    {% endif %}
                        <p>&nbsp;</p>
                        <input type="submit" value="Save" class="btn btn-sm btn-success active"/>
                        {{ form_end(edit_form) }}
                        <p>&nbsp;</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            {{ form_start(delete_form) }}
                             <input type="submit" value="Delete" onclick="return confirm('Do you really want to delete this entry?')" class="btn btn-sm btn-danger">
                            {{ form_end(delete_form) }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}