{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Reservation </h2>
    </div>
    {{ form_start(edit_form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>

                        <div class="control-group">
                            {{ form_label(edit_form.checkIn) }}
                            <div class="controls">
                                {{ form_widget(edit_form.checkIn) }}
                                <p></p>
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.checkIn) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.checkOut) }}
                            <div class="controls">
                                {{ form_widget(edit_form.checkOut) }}
                                <p></p>
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.checkOut) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.status) }}
                            <div class="controls">
                                {{ form_widget(edit_form.status) }}
                                <p></p>
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.status) }}
                        </div>
                        {#<div class="control-group">#}
                            {#{{ form_label(edit_form.room) }}#}
                            {#<div class="controls">#}
                                {#{{ form_widget(edit_form.room) }}#}
                                {#<p></p>#}
                                {#<p class="help-block">Please provide your first name</p>#}
                            {#</div>#}
                            {#{{ form_errors(edit_form.room) }}#}
                        {#</div>#}
                        {#<div class="control-group">#}
                            {#{{ form_label(edit_form.plan) }}#}
                            {#<div class="controls">#}
                                {#{{ form_widget(edit_form.plan) }}#}
                                {#<p></p>#}
                                {#<p class="help-block">Please provide your first name</p>#}
                            {#</div>#}
                            {#{{ form_errors(edit_form.plan) }}#}
                        {#</div>#}
                        <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('ROLE_AGENT') %}
                    {{ form_widget(edit_form, {'attr':{'hidden': 'hidden'}}) }}
                {% endif %}
            </div>

        </div>

    </div>
    {{ form_end(edit_form) }}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    {{ form_start(delete_form) }}
                    <a href="{{ path('reservation_index') }}"
                       class="btn btn-sm btn-default"><i
                                class="fa fa-reply fa-fw"></i> Back to the list</a>

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Cancel</button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Cancel Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are You Sure You Want To Cancel This</p>
                                </div>

                                <div class="modal-footer">
                                    <input id="complexConfirm" type="submit" value="Yes" class="btn btn-sm btn-success">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
