{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Reservation List</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    {{ form_start(form) }}
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Upload Excel Sheet</strong><br><br>
                        <div class="control-group">
                            {{ form_label(form.file) }}
                            <div class="controls">
                                {{ form_widget(form.file) }}
                                <p></p>
                            </div>
                            {{ form_errors(form.file) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(form.submit) }}
                            <div class="controls">
                                {{ form_widget(form.submit) }}
                                <p></p>
                            </div>
                        </div>
                </a>
                    </div>
                </div>


            </div>
        </div>

    </div>
    {{ form_end(form) }}

{% endblock %}
