{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Reservation List</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div>

                                    <table id="filterTable" class="table js-rep-log-table">
                                    <thead>
                                    <tr>
                                    <th>Id</th>
                                    <th>Property</th>
                                    <th>Room Type</th>
                                    <th>Meal Plan</th>
                                    <th>Guests</th>
                                    <th>Checkin</th>
                                    <th>Checkout</th>
                                    <th>Status</th>
                                        {% if is_granted('ROLE_ADMIN') %}
                                    <th>Edit</th> {% endif %}
                                    <th>Delete</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reservation in reservations %}
                                    <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ reservation.room.property.name}}</td>
                                    <td>{{ reservation.room.type}}</td>
                                    <td>{{ reservation.plan}}</td>
                                    <td>{{ reservation.guests}} </td>
                                    <td>{% if reservation.checkIn %}{{ reservation.checkIn|date('d-m-Y') }}{% endif %}</td>
                                    <td>{% if reservation.checkOut %}{{ reservation.checkOut|date('d-m-Y') }}{% endif %}</td>
                                    <td>{% if reservation.status == 1 %}<span class="btn btn-success btn-rounded">Confirmed</span>{% else %}<span class="btn-default btn btn-rounded">Waiting Payment</span>{% endif %}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <td width="80px">
                                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> edit </a>
                                        </td>
                                        {% endif %}
                                        <td>
                                            {% if reservation.status == 1 %}
                                            <a href="#" class="js-delete-rep-log btn btn-xs btn-primary disabled" data-url="{{ path('rep_log_delete', {id: reservation.id}) }}">
                                                <span class="fa fa-times"></span>Cancel
                                            </a>
                                                {% else %}

                                                    <a href="#" class="js-delete-rep-log btn btn-xs btn-default" data-url="{{ path('rep_log_delete', {id: reservation.id}) }}">
                                                        <span class="fa fa-times text-danger"></span>Cancel
                                                    </a>
                                            {% endif %}
                                            <div>

                                                <div id="dropdown-1" class="dropdown dropdown-processed">
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a class="dropdown-link btn btn-xs btn-default" href="#" style="position: absolute;top:-20px; right: 0">+</a>
                                                    {% endif %}
                                                    <div class="dropdown-container " style="display: none; background: #f1f1f1;padding:10px;position: absolute;z-index: 100; width:130%">
                                                        <i class="glyphicon glyphicon-user"></i> {{ reservation.user.firstname }} <br> <i class="glyphicon glyphicon-phone"></i> {{ reservation.user.phone }} <br> <i class="glyphicon glyphicon-envelope"></i > {{ reservation.user.email }}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                    </table>
                            {#<table class="table">#}
                                {#<thead>#}
                                {#<tr>#}
                                    {#<th>Id</th>#}
                                    {#<th>Property</th>#}
                                    {#<th>Room Type</th>#}
                                    {#<th>Meal Plan</th>#}
                                    {#<th>Checkin</th>#}
                                    {#<th>Checkout</th>#}
                                    {#<th>Status</th>#}
                                    {#<th>Actions</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                {#{% for reservation in reservations %}#}
                                    {#<tr>#}
                                        {#<td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>#}
                                        {#<td>{{ reservation.room.property.name}}</td>#}
                                        {#<td>{{ reservation.room.type}}</td>#}
                                        {#<td>{{ reservation.room.plan}}</td>#}
                                        {#<td>{% if reservation.checkIn %}{{ reservation.checkIn|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                        {#<td>{% if reservation.checkOut %}{{ reservation.checkOut|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                        {#<td>{% if reservation.status %}Confirmed{% else %}Waiting Payment{% endif %}</td>#}
                                        {#<td width="15%">#}
                                            {#<table>#}
                                                {#<tr>#}
                                                    {#<td width="80px">#}
                                                    {#<a href="{{ path('property_show', { 'id': property.id }) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> show</a>#}
                                                    {#</td>#}
                                                    {#<td width="80px">#}
                                                        {#<a href="{{ path('reservation_edit', { 'id': reservation.id }) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> edit </a>#}
                                                    {#</td>#}
                                                {#</tr>#}
                                            {#</table>#}
                                        {#</td>#}
                                    {#</tr>#}
                                {#{% endfor %}#}
                                {#</tbody>#}
                            {#</table>#}
                            <br>
                        </div>
                    </div>
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('excel') }}" class="btn btn-sm btn-default">
                    <strong>Update Inventory</strong>
                </a>
                {% endif %}


            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var $table = $('.js-rep-log-table');
            $table.find('.js-delete-rep-log').on('click', function (e) {
                e.preventDefault();
                var confirmation = confirm("Are You Sure You Want To Cancel This Booking? (Click ok to cancel)");
                if (confirmation) {
                    $(this).find('.fa')
                            .removeClass('fa-times')
                            .addClass('fa-spinner')
                            .addClass('fa-spin');

                    var deleteUrl = $(this).data('url');
                    var $row = $(this).closest('tr');
                    $.ajax({
                        url: deleteUrl,
                        method: 'DELETE',
                        success: function () {
                            $row.fadeOut();
                        }
                    });
                }
            });
//            $('.js-delete-rep-log').on('click', function () {
//                console.log('todo delete!');
//            });
//            $('.js-rep-log-table tbody tr').on('click', function() {
//                console.log('row clicked!');
//            });
        });
        $(document).ready(function(){

            $("a.dropdown-link").click(function(e) {
                e.preventDefault();
                var $div = $(this).next('.dropdown-container');
                $(".dropdown-container").not($div).hide();
                if ($div.is(":visible")) {
                    $div.hide()
                }  else {
                    $div.show();
                }
            });

            $(document).click(function(e){
                var p = $(e.target).closest('.dropdown').length
                if (!p) {
                    $(".dropdown-container").hide();
                }
            });

        });
    </script>
    <script type="text/javascript" charset="utf8" src="{{ asset('js/DataTables/datatables.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#filterTable').DataTable();
        } );


    </script>
{% endblock %}
