header{
    background: #FFF;
    padding:20px 0;
    color:#005C97;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
.access{
    position: absolute;
    top:0;
    right: 0;
}
.box a{
    background: #5cb85c;
    padding:5px 10px;
    color: #FFF;
}


#featured{
    padding: 40px 0;
    background: #f1f1f1;
}

.box{
    border:1px solid #dbdbdb;
    padding:10px 30px;
    background: #FFF;
}

.price{
    position: absolute;
    top:200px;
    left:40px;
    color:#5cb85c;
    font-weight: bold;
    font-size:30px;
    background: #FFF;
    padding:0 15px;
}

.offer{
    position: absolute;
    top:0px;
    left:40px;
    color:#5cb85c;
    font-weight: bold;
    font-size:30px;
    background: #FFF;
    padding:0 15px;
}


/* Ribbon */
.img-box {
    position: relative;
    background: #EEE;
}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

.amenities label{
    margin-right: 10px;
    margin-left:3px;
}
