{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> User Detail </h2>
    </div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <i class="fa fa-check-circle"></i> {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if edit_form.vars.data.user is not null %}
                 <a href="{{ path('user_edit', { 'id': edit_form.vars.data.user.id  }) }}" class="btn btn-sm btn-default">User</a>
                <a href="{{ path('userdetails_edit', { 'id': edit_form.vars.data.id  }) }}" class="btn btn-sm btn-primary">Other Details</a>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
    {{ form_start(edit_form) }}
                    <div class="control-group">
                        {{ form_label(edit_form.firm) }}
                        <div class="controls">
                            {{ form_widget(edit_form.firm, {'attr':{'class': 'form-control input-lg'}}) }}
                            {#<p class="help-block">Please provide your first name</p>#}
                        </div>
                        {{ form_errors(edit_form.firm) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(edit_form.address) }}
                        <div class="controls">
                            {{ form_widget(edit_form.address, {'attr':{'class': 'form-control input-lg'}}) }}
                            {#<p class="help-block">Please provide your first name</p>#}
                        </div>
                        {{ form_errors(edit_form.address) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(edit_form.website) }}
                        <div class="controls">
                            {{ form_widget(edit_form.website, {'attr':{'class': 'form-control input-lg','placeholder':'www.example.com'}}) }}
                            {#<p class="help-block">Please provide your first name</p>#}
                        </div>
                        {{ form_errors(edit_form.website) }}
                    </div>
                    {#{% if edit_form.message is defined %}#}
                    <div class="control-group">
                        {{ form_label(edit_form.source) }}
                        <div class="controls">
                            {{ form_widget(edit_form.source, {'attr':{'class': ''}}) }}
                            {#<p class="help-block">Please provide your first name</p>#}
                        </div>
                        {{ form_errors(edit_form.source) }}
                    </div>

                    <div class="control-group">
                        {{ form_label(edit_form.message) }}
                        <div class="controls">
                            {{ form_widget(edit_form.message, {'attr':{'class': 'form-control input-lg'}}) }}
                            {#<p class="help-block">Please provide your first name</p>#}
                        </div>
                        {{ form_errors(edit_form.message) }}
                    </div>
                    {#{% endif %}#}

                    <div class="control-group">
                        <div class="controls">
                            {{ form_widget(edit_form.other, {'attr':{'hidden': 'hidden'}}) }}
                            {#<p class="help-block">Please provide your first name</p>#}
                        </div>
                        {{ form_errors(edit_form.other) }}
                    </div>
                    <p>&nbsp;</p>
                    <input type="submit" value="Save" class="btn btn-sm btn-success active"/>
    {{ form_end(edit_form) }}
                    <p>&nbsp;</p>
                    {#<div>#}
                        {#{{ form_start(delete_form) }}#}
                        {#<input type="submit" value="Delete" onclick="return confirm('Do you really want to delete this entry?')" class="btn btn-sm btn-default">#}
                        {#{{ form_end(delete_form) }}#}
                    {#</div>#}
</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
