{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div style="margin: 0 auto; width:100%; text-align: center; padding:20px 0; background: #FFF;">
    <h3 class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': app.user.username}) }}</h3>

    Please take a moment to complete this questionnaire.
    </div>
<div style="margin: 0 auto; width:420px; padding: 20px 0; background: #FFF; margin-top: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{form_start(form)}}
                <div class="control-group">
                    {{ form_label(form.firm) }}
                    <div class="controls">
                        {{ form_widget(form.firm, {'attr':{'class': 'form-control input-lg'}}) }}
                        <p class="help-block"></p>
                    </div>
                    {{ form_errors(form.firm) }}
                </div>
                <div class="control-group">
                    {{ form_label(form.address) }}
                    <div class="controls">
                        {{ form_widget(form.address, {'attr':{'class': 'form-control input-lg'}}) }}
                        <p class="help-block"></p>
                    </div>
                    {{ form_errors(form.address) }}
                </div>
                <div class="control-group">
                    {{ form_label(form.website) }} (if any)
                    <div class="controls">
                        {{ form_widget(form.website, {'attr':{'class': 'form-control input-lg'}}) }}
                        <p class="help-block"></p>
                    </div>
                    {{ form_errors(form.website) }}
                </div>
                <div class="control-group">
                    {{ form_label(form.source ) }}
                    <div class="controls">
                        {{ form_widget(form.source, {'attr':{'class': 'form-control'}}) }}
                        <p class="help-block"></p>
                    </div>
                    {{ form_errors(form.source) }}
                </div>
                <div class="control-group">
                    {#{{ form_label(form.other ) }}#}
                    <div class="controls">
                        {{ form_widget(form.other, {'attr':{'class': 'form-control hidden'}}) }}
                        <p class="help-block"></p>
                    </div>
                    {{ form_errors(form.other) }}
                </div>
                <div class="control-group">
                    {{ form_label(form.message) }}
                    <div class="controls">
                        {{ form_widget(form.message, {'attr':{'class': 'form-control input-lg'}}) }}
                        <p class="help-block"></p>
                    </div>
                    {{ form_errors(form.message) }}
                </div>
                {{ form_widget(form.user,{'attr':{'hidden': 'hidden'}}) }}
                <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}
    </div>
    <style>
        /*.hidden{*/
            /*display: none;}*/
    </style>
    <script src="{{ asset('js/jquery.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#appbundle_userdetails_source').change(function () {
            if ($(this).val() == 'Other')
            {
                $('#appbundle_userdetails_other').removeClass('hidden');
            }
            else {
                $('#appbundle_userdetails_other').addClass('hidden');
            }
        });
    });
    $(document).ready(function(){
        var num = {{ userId }};
        $("select option").each(function(){
            if($(this).val() == num){
                $(this).attr("selected","selected");
            }
        });
    });
    </script>
{% endblock %}
